@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3.5em; }

h2 {
  font-size: 2.7em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.25em; }

* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }

.btn-masinfo {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px black;
  color: white;
  background-color: rgba(209, 6, 6, 0.856);
  cursor: pointer; }

.btn-masinfo:hover {
  background-color: rgba(168, 5, 5, 0.856); }

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px black;
  color: white;
  background-color: rgba(6, 118, 209, 0.856);
  cursor: pointer;
  margin-bottom: 1rem; }

button:hover {
  background-color: rgba(6, 118, 209, 0.993); }

.boton {
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 20px 60px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 90px;
  padding: 2rem 2rem; }

.header .logo {
  cursor: pointer; }

.header .logo img {
  height: 70px;
  width: 200px;
  transition: all 0.3s; }

.header .logo img:hover {
  transform: scale(1.2); }

.nav-menu ul {
  display: flex;
  align-items: center; }

.nav-menu li {
  margin-right: 1rem; }

header .nav-links li:hover {
  transform: scale(1.1); }

header .nav-links li a {
  font-size: 700;
  color: white;
  text-decoration: none; }

header .nav-links li a:hover {
  color: rgba(255, 0, 0, 0.856); }

.menu-icon img {
  width: 30px;
  height: 30px;
  border-radius: 2px; }

.menu-icon, #check {
  display: none; }

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer; }
  .nav-menu ul {
    position: fixed;
    top: 40px;
    bottom: 0px;
    background: rgba(119, 121, 14, 0.966);
    width: 100%;
    left: 0;
    display: flex;
    margin: 9px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0; }
  #check:checked ~ ul {
    clip-path: circle(100% at center); } }

.add {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  color: white;
  background-color: rgba(88, 87, 87, 0.966); }

#sobre-nosotros {
  background-color: #f1f0f0; }

.container-sn {
  max-width: 1500px;
  margin: auto;
  text-align: center; }

#id-sn {
  text-align: center;
  padding: 200px 12px;
  color: black;
  background-color: #c2c0c0; }

#sobre-nosotros .img-container {
  height: 1000px;
  width: 500px;
  margin-right: 200px;
  border-radius: 20px; }

@media (min-width: 850px) {
  #id-sn {
    display: flex;
    justify-content: space-evenly; }
  #id-sn .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #sobre-nosotros h2 {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly; }
  #id-sn .img-container {
    background-image: url("../Assets/img/soporte tecnico.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; } }

#hero-servicios {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../Assets/img/servicios 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

main {
  background-color: #8b8a8a; }

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center; }

.container-grid {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: #f8f6f6;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 1rem; }

.serv-img {
  width: 8rem;
  margin-top: 1rem; }

.name {
  font-weight: bold;
  font-size: 1.5rem; }

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem; }

#hero-cert {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../Assets/img/alianzas 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.card-1 {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #8b8a8a; }

.card__perfil {
  width: 250px;
  padding: 20px;
  box-shadow: 1px 1px 5px #c9c9c9;
  border: solid rgba(3, 133, 255, 0) 2px;
  border-radius: 10px;
  background-color: white; }

.card__perfil:hover {
  border: solid #ff0303 2px; }

.card__perfil:hover img {
  transform: rotate(0); }

.img-ali {
  width: 140px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #d8d8d8;
  transform: rotate(-30deg);
  transition: all .3s; }

.card__nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; }

hr {
  width: 100%;
  height: 4px;
  background: #dfdddd;
  margin: 20px 5px; }

.card__button {
  text-align: center; }

.enlace {
  background: red;
  padding: 8px 20px;
  color: white;
  text-decoration: none; }

#hero-ali {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../Assets/img/certificaciones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#hero.ali h2 {
  font-size: 3.5em; }

.imagen-cert {
  width: 100px;
  height: 100px; }

.contenedor-cert {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center; }

.titulo {
  font-size: 24px;
  padding: 20px 0; }

.card {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem; }

.card .textos {
  height: 100%;
  /* Flebox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }

#hero-nosotros {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../Assets/img/nosotros");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#nosotros {
  background-color: #f1f0f0; }

.container-nost {
  max-width: 1500px;
  margin: auto;
  text-align: center; }

#quienes-somos {
  text-align: center;
  padding: 200px 12px;
  color: black;
  background-color: #c2c0c0; }

#quienes-somos .img-container {
  height: 700px;
  width: 500px;
  margin-right: 200px;
  border-radius: 20px; }

#mision {
  text-align: center;
  padding: 200px 12px;
  color: black;
  background-color: #8f8e8e; }

#mision .img-container {
  height: 500px;
  width: 500px;
  margin-left: 200px;
  border-radius: 20px; }

#vision {
  text-align: center;
  padding: 200px 12px;
  color: black;
  background-color: #c2c0c0; }

#vision .img-container {
  height: 500px;
  width: 500px;
  margin-right: 200px;
  border-radius: 20px; }

@media (min-width: 850px) {
  #quienes-somos {
    display: flex;
    justify-content: space-evenly; }
  #mision {
    display: flex;
    justify-content: space-evenly; }
  #vision {
    display: flex;
    justify-content: space-evenly; }
  #quienes-somos .text-container {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #vision .text-container {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #quienes-somos .img-container {
    background-image: url("../Assets/img/quienes somos.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; }
  #mision .img-container {
    background-image: url("../Assets/img/quienes somos 2");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; }
  #vision .img-container {
    background-image: url("../Assets/img/quienes somos 3");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; } }

#hero-contacto {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../Assets/img/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.main-cont {
  background-color: #e6e3e3; }

.tit {
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex; }

.content {
  margin: 30px 60px; }

.content p {
  text-align: justify; }

.content label {
  display: block;
  font-size: 14px;
  font-weight: 900; }

.form-contact {
  margin-top: 30px; }

.controls {
  width: 400px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 12px;
  margin: 8px 0px; }

.footer {
  width: 100%;
  background-color: #0a141d;
  justify-content: center; }

.container {
  overflow: hidden;
  text-align: center;
  position: relative; }

.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer .grupo-1 .box figure img {
  width: 200px; }

.footer .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px; }

.footer .grupo-1 .box p {
  color: white;
  margin-bottom: 10px; }

.footer .grupo-1 .red-social svg {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease; }

.footer .grupo-1 .red-social svg:hover {
  color: aqua; }

.footer .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white; }

@media (max-width: 768px) {
  .footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }
