.add{
    text-align: center;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 15vh;
    color: white;
    background-color: rgba(88, 87, 87, 0.966);
}



#sobre-nosotros{
    background-color: rgb(241, 240, 240);
}



.container-sn{
    max-width: 1500px;
    margin: auto;
    text-align: center;
}

#id-sn{
    text-align: center;
    padding: 200px 12px;
    color: black;
    background-color: rgb(194, 192, 192);
}

#sobre-nosotros .img-container{

    height: 1000px;
    width: 500px; 
    margin-right: 200px;
    border-radius: 20px;
}

@media (min-width: 850px){
    #id-sn{
        display: flex;
        justify-content: space-evenly;
    }

    #id-sn .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobre-nosotros h2{
        margin-top: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    #id-sn .img-container{
        background-image: url("../Assets/img/soporte\ tecnico.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }
    }