#hero-contacto{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    )
    ,url("../Assets/img/contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-cont{
    background-color: rgb(230, 227, 227);
}

.tit{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.content{
    margin: 30px 60px;
}

.content p{
    text-align: justify;
}

.content label{
    display: block;
    font-size: 14px;
    font-weight: 900;
}

.form-contact{
    margin-top: 30px;
}

.controls{
    width: 400px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px;
    margin: 8px 0px;
}
